.App {
  text-align: center;
}

.App-guis {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.App-desc {
  font-size: 0.8em;
  text-align: left;
  display: block;
  margin: 0.5em;
}