.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.App-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  margin: 20px 0;
}

.App-guis {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 20px;
  flex: 1;
}

.App-desc {
  font-size: 1em;
  margin: 0.5em 0;
}

@media (max-width: 768px) {
  .App-row {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .App-desc-container {
    margin-left: 0;
    margin-top: 20px;
  }
}