.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.App-guis {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.App-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 20px 0;
  width: 100%;
}

.App-desc {
  font-size: 1em;
  margin: 0.5em 0;
  width: 100%;
  align-self: center;
}